$primary: #21E692;
$link: darken($primary, 10%);
$family-serif: 'Clear Sans', sans-serif;
$family-primary: $family-serif;

@import "../node_modules/bulma/bulma.sass";

.feature-block-container {
  & {
    margin-bottom: 40px;
  }

  &.first-row .feature-block {
    border-bottom: 1px solid darken($light, 5%);
  }

  .feature-block {
    & {
      text-align: center;
      border-left: 1px solid darken($light, 5%);
      padding: 40px 0;
    }

    &:first-child {
      border-left: 0;
    }
  
    .icon {
      padding: 40px 0;
    }

    p {
      padding: 10px;
    }
  }
}

.bouncy-chevron {
  animation: bounce 1s infinite;
  //position: relative;
  cursor: pointer;
  margin: 0 auto;
  width: 4em;
  height: 4em;
}

.bouncy-chevron i, .bouncy-chevron svg {
  font-size: 4em;
}

.spaced {
  margin: 40px 0;
}

#why-wallet-content {
  .icon {
    font-size: 4em;
    height: 3em;
  }

  p {
    margin: 10px 0;
    padding: 0 5px;
  }
}