$primary: #21E692;
$link: darken($primary, 10%);

@import "../node_modules/bulma/bulma.sass";

.feature-block-container {
  & {
    margin-bottom: 40px;
  }

  &.first-row .feature-block {
    border-bottom: 1px solid darken($light, 5%);
  }

  .feature-block {
    & {
      text-align: center;
      border-left: 1px solid darken($light, 5%);
      padding: 40px 0;
    }

    &:first-child {
      border-left: 0;
    }
  
    .icon {
      padding: 40px 0;
    }

    p {
      padding: 10px;
    }
  }
}